@import './variables';

body {
  margin: 0;
}

.title {
  text-align: center;
  font-size: 18pt;
}

.button {
  padding: 5px;
  border: 0;
  border-radius: $borRad;
  outline: none;
  cursor: pointer;
  transition: 0.4s;

  &:hover {
    background: $bgHover;
  }
}
